* {
  margin: 0;
  padding: 0;
}
* button:hover {
  cursor: pointer;
}
* a {
  text-decoration: none;
  color: unset;
}

:root {
  --Black: #1a1a1a;
  --Yellow: #ffad32;
  --White: #ffffff;
  --Grey: #dadada;
  --Blue: #4c5bd2;
  --Red: #ff2d57;

  --Yellow-rgb: 255, 173, 50;
  --Blue-rgb: 76, 91, 210;
}

p {
  color: var(--Black);
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
}
.p1 {
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 130%;
}
.p1.semibold {
  font-weight: 600;
}
.p2 {
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 130%;
}

.yellow-btn {
  background-color: var(--Yellow);
  color: var(--White);
  border: none;
  padding: 25px;
  font-family: Unbounded;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.yellow-btn > img {
  width: 50px;
  height: 50px;
}

.container {
  /* background-color: rgba(255, 127, 80, 0.185); */
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(8, 128px);
  column-gap: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Black);
  font-family: Unbounded;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 7.594rem;
}
h2 {
  font-size: 5.063rem;
}
h3 {
  font-size: 60.75px;
  line-height: 130%;
}
h4 {
  font-size: 40.5px;
  line-height: 120%;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}

#logo-header {
  grid-column-end: 4;
  grid-column-start: 1;
}

#header-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  /* width: 100%; */
  grid-column-start: 4;
  grid-column-end: 9;
}
#header-links li {
  list-style: none;
  display: flex;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
#header-links a {
  color: var(--Black);
  line-height: 120%;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
#header-links a:hover {
  border-bottom: 1px solid black;
}
/* --------------------------------------------- */
.br {
  display: flex;
  justify-content: space-between;
  grid-column: 1/9;
  border-top: 1px solid var(--Grey);
  padding-top: 10px;
}
.br p:first-child {
  color: var(--Grey);
}
.br p:last-child::after {
  width: 8px;
  height: 8px;
  content: "•";
  color: var(--Yellow);
  margin-left: 5px;
}

#block-two-ul {
  grid-column: 1/9;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
}
#block-two-ul li {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 12.5px;
}
#block-two-ul li:not(:last-child) {
  border-right: 1px solid var(--Grey);
}
#block-two-ul li:hover h4,
#block-two-ul li:hover p {
  transition: 0.25s;
  color: var(--Blue);
}

.digital {
  text-align: center;
  margin-block: 50px;
  margin-inline: auto;
  grid-column: 1/9;
  position: relative;
  max-width: max-content;
  display: inline;
}
.digital::after,
.digital::before {
  height: 72px;
  width: 72px;
  content: "";
  display: inline;
  background: url("../images/digital-arrow.svg");
}
.digital::before {
  float: inline-start;
}
.digital::after {
  float: inline-end;
}
.digital-1 {
  color: var(--Yellow);
}
.digital-2 {
  color: var(--White);
  background-color: var(--Yellow);
}
.digital-2::after,
.digital-2::before {
  background: url("../images/digital-arrow-white.svg") !important;
}

.swiper-slide {
  width: 434px;
}
.swiper-slide a {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.swiper-slide:nth-child(3n) {
  max-width: 281px;
}
.slider-img {
  max-height: fit-content;
  position: relative;
}
.slider-img::before {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  position: absolute;
  left: 0;
  top: 0;
  content: "Интересно";
  font-size: 40.5px;
  padding-top: 25%;
  font-family: Unbounded;
  color: var(--White);
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: -10;
}
.slider-img:hover::before {
  background-image: url("../images/services-before-arrow.svg");
  background-repeat: no-repeat;
  background-position: center 35%;
  background-color: rgba(var(--Blue-rgb), 0.75);
  z-index: 10;
}

.swiper-pagination {
  max-width: max-content;
  position: unset;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-inline: auto;
}
.swiper-pagination-bullet {
  /* margin-left: 12.5px !important; */
  /* margin-right: 12.5px !important; */
  margin: 0 !important;
  width: 16px !important;
  height: 16px !important;
  background-color: var(--Grey) !important;
  opacity: 0.5 !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--Black) !important;
  opacity: 0.5 !important;
}
.slider-nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  margin-inline: auto;
  height: fit-content;
  grid-column: 1/9;
}
.slider-nav button {
  background-color: var(--Yellow);
  border: none;
  width: 64px;
  height: 44px;
  margin: 0;
  padding: 10px 20px;
  position: unset;
}
.slider-nav button::after {
  content: none;
}

#modules {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.auditory-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.auditory-btns button {
  background: none;
  border: 1px solid var(--Grey);
  color: var(--Grey);
  font-size: 27px;
  font-family: Unbounded;
  padding-block: 25px;
  width: 100%;
}
.auditory-btn-active {
  border: 1px solid var(--Yellow) !important;
  color: var(--Black) !important;
}
.module {
  padding-top: 15px;
  padding-bottom: 25px;
  border-top: 1px solid var(--Grey);
}
.module:last-child {
  border-bottom: 1px solid var(--Grey);
}
.module-heading {
  display: flex;
  justify-content: space-between;
}
.module-heading button {
  width: 24px;
  height: 24px;
  transition: 0.5s;
  background-position: center;
  border: none;
  background-color: transparent;
  background-image: url("../images/module-btn-arrow.svg");
}
.module-data {
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s ease-out;
}
.module-btn-active {
  rotate: -180deg;
}

.course-features {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#features {
  padding: 25px;
  border: 1px solid var(--Grey);
}
#features > p {
  grid-column: 1/3;
  font-size: 27px;
  font-family: Unbounded;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 25px;
}
#features ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  list-style: none;
}
#features ul > li > .p2 {
  margin-top: 25px;
}

.contacts-ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts-ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.portfolio-ul {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.portfolio-ul button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 23px; */
  line-height: 1;
  gap: 8px;
  color: var(--Grey);
  transition: 0.23s;
}
.portf-btn-active {
  color: var(--Black) !important;
}
.portfolio-ul button::before {
  height: 24px;
  width: 24px;
  content: url("../images/portfolio-ul-inactive.svg");
}
.portf-btn-active::before {
  content: url("../images/portfolio-ul-marker.svg") !important;
}

#portfolio-posts {
  grid-column: 3/9;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.portfolio-post {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: repeat(2, calc(128px * 3 + 25px * 2));
  gap: 25px 26px;
}

.post-meta {
  display: flex;
  gap: 7px;
}

.post-info {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
/* ------------------------------------------------ */
.footer-links {
  grid-column: 1/9;
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.footer-links h5 > a {
  border-bottom: 1px solid transparent;
}
.footer-links h5 > a:hover {
  border-bottom: 1px solid var(--Black);
}
.footer-links rect {
  transition: 0.25s;
}
.footer-links svg:hover rect {
  fill: var(--Yellow);
}
