* {
  margin: 0;
  padding: 0;
}
* button:hover {
  cursor: pointer;
}

:root {
  --Black: #1a1a1a;
  --Yellow: #ffad32;
  --White: #ffffff;
  --Grey: #dadada;
  --Blue: #4c5bd2;
  --Red: #ff2d57;

  --Yellow-rgb: 255, 173, 50;
}

p {
  color: var(--Black);
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
}
.p1 {
  font-size: 18px;
}
.p2 {
  font-size: 14px;
}

.container {
  /* background-color: rgba(255, 127, 80, 0.185); */
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(8, 128px);
  column-gap: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Black);
  font-family: Unbounded;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 7.594rem;
}
h2 {
  font-size: 5.063rem;
}
h3 {
  font-size: 60.75px;
  line-height: 130%;
}
h4 {
  font-size: 40.5px;
  line-height: 120%;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}

#logo-header {
  grid-column-end: 4;
  grid-column-start: 1;
}

#header-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  /* width: 100%; */
  grid-column-start: 4;
  grid-column-end: 9;
}
#header-links li {
  list-style: none;
  display: flex;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
#header-links a {
  color: var(--Black);
  line-height: 120%;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
#header-links a:hover {
  border-bottom: 1px solid black;
}

.br {
  display: flex;
  justify-content: space-between;
  grid-column: 1/9;
  border-top: 1px solid var(--Grey);
  padding-top: 10px;
}
.br p:first-child {
  color: var(--Grey);
}
.br p:last-child::after {
  width: 8px;
  height: 8px;
  content: "•";
  color: var(--Yellow);
  margin-left: 5px;
}

#block-two-ul {
  grid-column: 1/9;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
}
#block-two-ul li {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 12.5px;
}
#block-two-ul li:not(:last-child) {
  border-right: 1px solid var(--Grey);
}
#block-two-ul li:hover h4,
#block-two-ul li:hover p {
  transition: 0.25s;
  color: var(--Yellow);
}

#digital {
  text-align: center;
  color: var(--Yellow);
  margin-block: 50px;
  grid-column: 1/9;
  position: relative;
  max-width: max-content;
  display: inline;
}
#digital::after,
#digital::before {
  height: 72px;
  width: 72px;
  content: "";
  display: inline;
  background: url("../images/digital-arrow.svg");
}
#digital::before {
  float: inline-start;
}
#digital::after {
  float: inline-end;
}

.swiper-wrapper > a {
  text-decoration: none;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 434px;
}
.swiper-slide:nth-child(3n) {
  max-width: 281px;
}
.slider-img {
  max-height: fit-content;
  position: relative;
}
.slider-img::before {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  position: absolute;
  left: 0;
  top: 0;
  content: "Интересно";
  font-size: 40.5px;
  padding-top: 25%;
  font-family: Unbounded;
  color: var(--White);
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: -10;
}
.slider-img:hover::before {
  background-image: url("../images/services-before-arrow.svg");
  background-repeat: no-repeat;
  background-position: center 35%;
  background-color: rgba(var(--Yellow-rgb), 0.75);
  z-index: 10;
}

.swiper-pagination {
  max-width: max-content;
  position: unset;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-inline: auto;
}
.swiper-pagination-bullet {
  /* margin-left: 12.5px !important; */
  /* margin-right: 12.5px !important; */
  margin: 0 !important;
  width: 16px !important;
  height: 16px !important;
  background-color: var(--Grey) !important;
  opacity: 0.5 !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--Black) !important;
  opacity: 0.5 !important;
}
.slider-nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  margin-inline: auto;
  height: fit-content;
  grid-column: 1/9;
}
.slider-nav button {
  background-color: var(--Yellow);
  border: none;
  width: 64px;
  height: 44px;
  margin: 0;
  padding: 10px 20px;
  position: unset;
}
.slider-nav button::after {
  content: none;
}
